# pycharm idea
/.idea/
/cnnca/__pycache__/
/ref/
/cnnca/lightning_logs/
/cnnca/nn/lightning_logs/
/cnnca/nn/__pycache__/
/cnnca/checkpoints/
/cnnca/logs/
/cnnca/wandb/
/logs/
/wandb/
/checkpoints/
*.pyc